- active_nav_item :faqs
- @page_title = 'Deliverables'
.content
  %h2 Deliverables
  %ul
  %li An explanation that is no more than one page detailing any assumptions you have made, or any other special remarks about your solution.
  %ul
  %li A working solution to the problem written in Ruby using test driven development. The resulting production code should demonstrate good OOP skills. Whilst the production code may not rely on any third party RubyGems, you may use whatever third party libraries you deem necessary for testing or test fixtures, and you are encouraged to use RSpec.
  %ul
  %li Clear and concise instruction on how to execute the solution to the challenge.