- active_nav_item :why
- @page_title = 'Instructions'
.content
  %h2 Instructions
  %p A grocery shop is trying to reduce the number and sizes of plastic bags that its employees use. To that end it's going to trial a system that tells the cashier how many bags they should have used for the groceries being bought.
  %p The shop has allocated each product that it stocks a unit representing how much space it takes up in a bag and the store has small and large bags which carry 3 and 6 units respectively. Write a program that reads in a line separated list of items purchased (i.e. from standard in). After each item is read in, the program should output the current number and sizes of bag required.
    